<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.samsung.testapplication" >

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApplication" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />

                <data android:mimeType="application/x-fictionbook+xml" />
                <data android:mimeType="application/x-fictionbook" />
                <data android:mimeType="application/x-fb2" />
                <data android:mimeType="application/x-zip-compressed-fb2" />
                <data android:mimeType="application/fb2+zip" />
                <data android:mimeType="application/fb2.zip" />
                <data android:mimeType="application/fb2" />
                <data android:mimeType="application/epub" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/mobi" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/x-mobipocket-ebook" />
                <data android:mimeType="application/x-palm-database" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/comicbook+zip" />
                <data android:mimeType="application/x-cbr" />
                <data android:mimeType="application/comicbook+rar" />
                <data android:mimeType="application/rtf" />
                <data android:mimeType="application/x-rtf" />
                <data android:mimeType="application/azw" />
                <data android:mimeType="application/azw3" />
                <data android:mimeType="application/x-mobi8-ebook" />
                <data android:mimeType="application/x-kindle-application" />
                <data android:mimeType="application/x-mimearchive" />
                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/vnd.ms-xpsdocument" />
                <data android:mimeType="application/oxps" />

                <data android:mimeType="text/rtf" />
                <data android:mimeType="text/richtext" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/x-log" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />

                <data android:mimeType="multipart/related" />
                <data android:mimeType="message/rfc822" />

                <data android:mimeType="image/djvu" />
                <data android:mimeType="image/vnd.djvu" />
                <data android:mimeType="image/x-djvu" />
                <data android:mimeType="image/x.djvu" />
                <data android:mimeType="image/tiff" />


                <data android:mimeType="application/x-compressed" />
                <data android:mimeType="application/x-compressed-zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/zip" />
            </intent-filter>



        </activity>
    </application>

</manifest>